# Copyright (c) 2024 EPAM Systems
#
# SPDX-License-Identifier: Apache-2.0

config USE_DEFAULT_DOM_CFG
	bool "Use default guest domain cfg"
	default y
	help
	  Use default guest domain cfg from domu_cfg.c for build.
	  if not selected the guest domain cfg source file will be selected as basing
	  on board/platform:
	    dom_cfg/${BOARD}.c.
	  For example, for RPI 5 the dom_cfg/rpi_5.c will be used.

config DOM_CFG_BOARD_EXT
	string "Use extention string to determine guest domain cfg"
	depends on !USE_DEFAULT_DOM_CFG
	help
	  Use it to add extention string to determine guest domain cfg file to build.
	  The guest domain cfg source file will be selected as following:
	    dom_cfg/${BOARD}_${DOM_CFG_BOARD_EXT}.c
	  This allows to specify number of guest domain configs for the same board.
	  For example:
	    rpi_5_xenvm.c
	    rpi_5_domu.c

config DOM_CFG_DOMU0_IMAGE_BIN_FILE
	string "Location for Domain-U0 kernel binary"
	default "domu0_img.bin"

config DOM_CFG_DOMU0_DTB_BIN_FILE
	string "Location for Domain-U0 device-tree"
	default "domu0.dtb"

config DOM_CFG_DOMU1_IMAGE_BIN_FILE
	string "Location for Domain-U1 kernel binary"
	depends on DOM_CFG_NUMBER > 1

config DOM_CFG_DOMU1_DTB_BIN_FILE
	string "Location for Domain-U1 device-tree"
	depends on DOM_CFG_NUMBER > 1

source "Kconfig.zephyr"
