# Copyright (C) 2023 Renesas Electronics Corporation.
# Copyright (C) 2023 EPAM Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0

mainmenu "Zephyr Dom0 xen-troops application"

config DOMD_UBOOT_PATH
	string "Location for Domain-D binary"
	default "../prebuilt/domd.bin"

config DOMD_DTB_PATH
	string "Location of Domain-D partial device-tree"
	default "../prebuilt/domd.dtb"

config DOMU
	bool "Enable DomU support"
	default y if DT_HAS_XEN_DOMU_ENABLED

config DOMU_BIN_PATH
	string "Location for Domain-U binary"
	default "../prebuilt/domu.bin"

config DOMU_DTB_PATH
	string "Location of Domain-U partial device-tree"
	default "../prebuilt/domu.dtb"

source "Kconfig"
