/*
 * Copyright (C) 2024 EPAM Systems, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */
#include <mem.h>

/ {
	domu_configs {
		#address-cells = <1>;
		#size-cells = <0>;

		/* it is needed only for correct filling structures by macros */
		iomem: iomem {
			compatible = "xen,domu-iomem";
			#iomem-cells = <3>;
		};

		domu@1 {
			/*
			 * Most of the properties of this one and children nodes are default and don't appear
			 * in the resulting dts.
			 *
			 * Refer to 'xen,domu.yaml', 'xen,domu-vbd.yaml' and 'xen,domu-vif.yaml' for details.
			 */
			compatible = "xen,domu";
			machine_dt_compat = "renesas,r8a77961";

			reg = <0x1>;
			mem_size = <DT_SIZE_M(2048)>;
			cmdline = "clk_ignore_unused root=/dev/nfs rw rootwait console=hvc0 pvrsrvkm.DriverMode=0";

			max_vcpus = <4>;

			domu-irqs =
				// gpio@e6050000
				<36>,
				// gpio@e6051000
				<37>,
				// gpio@e6052000
				<38>,
				// gpio@e6053000
				<39>,
				// gpio@e6054000
				<40>,
				// gpio@e6055000
				<41>,
				// gpio@e6055400
				<42>,
				// gpio@e6055800
				<43>,
				// interrupt-controller@e61c0000
				<32>, <33>, <34>, <35>, <193>, <50>,
				// i2c@e6510000
				<318>,
				// i2c@e66d8000
				<51>,
				// crypto@e6601000
				<103>,
				// ethernet@e6800000
				<71>, <72>, <73>, <74>, <75>, <76>, <77>, <78>, <79>, <80>, <81>, <82>, <83>, <84>, <85>, <86>, <87>, <88>, <89>, <90>, <91>, <92>, <93>, <94>, <95>,
				// serial@e6e68000
				<185>,
				// csi2@fea80000
				<216>,
				// csi2@feaa0000
				<278>,
				// video@e6ef0000
				<220>,
				// video@e6ef1000
				<221>,
				// video@e6ef2000
				<222>,
				// video@e6ef3000
				<223>,
				// video@e6ef4000
				<206>,
				// video@e6ef5000
				<207>,
				// video@e6ef6000
				<208>,
				// video@e6ef7000
				<203>,
				// dma-controller@e6700000
				<231>, <232>, <233>, <234>, <235>, <236>, <237>, <238>, <239>, <240>, <241>, <242>, <243>, <244>, <245>, <246>, <247>,
				// dma-controller@e7300000
				<251>, <345>, <252>, <346>, <248>, <340>, <341>, <342>, <343>, <344>, <249>, <250>, <347>, <348>, <349>, <350>, <351>,
				// dma-controller@e7310000
				<448>, <449>, <450>, <451>, <452>, <453>, <454>, <455>, <456>, <457>, <458>, <459>, <460>, <461>, <462>, <463>, <429>,
				// dma-controller@ec700000
				<352>, <353>, <354>, <355>, <356>, <357>, <358>, <359>, <360>, <361>, <362>, <363>, <364>, <365>, <366>, <367>, <382>,
				// dma-controller@ec720000
				<383>, <368>, <369>, <370>, <371>, <372>, <373>, <374>, <375>, <376>, <377>, <378>, <379>, <380>, <381>, <414>, <415>,
				// dma-controller@e65a0000
				<141>,
				// dma-controller@e65b0000
				<142>,
				// usb@e6590000
				<139>,
				// usb@ee000000
				<134>,
				// usb@ee020000
				<136>,
				// usb@ee080000
				<140>,
				// usb@ee0a0000
				<144>,
				// mmc@ee100000
				<197>,
				// mmc@ee140000
				<199>,
				// mmc@ee160000
				<200>,
				// src-0
				<384>,
				// src-1
				<385>,
				// src-2
				<386>,
				// src-3
				<387>,
				// src-4
				<388>,
				// src-5
				<389>,
				// src-6
				<390>,
				// src-7
				<391>,
				// src-8
				<392>,
				// src-9
				<393>,
				// ssi-0
				<402>,
				// ssi-1
				<403>,
				// ssi-2
				<404>,
				// ssi-3
				<405>,
				// ssi-4
				<406>,
				// ssi-5
				<407>,
				// ssi-6
				<408>,
				// ssi-7
				<409>,
				// ssi-8
				<410>,
				// ssi-9
				<411>,
				// adsp@ec800000
				//   <269>,
				// pcie@fe000000
				<148>, <149>, <150>,
				// pcie@ee800000
				<180>, <181>, <182>,
				// gsx@fd000000
				<151>,
				// vcp4@fe910000
				<292>, <293>,
				// vcp4@fe900000
				<272>, <273>,
				// vcp4@fe8d0000
				<412>, <413>, <255>,
				// fdpm@fe940000
				<294>,
				// vspm@fe960000
				<298>,
				// vspm@fe9a0000
				<476>,
				// vsp@fea20000
				<498>,
				// vsp@fea28000
				<499>,
				// vsp@fea30000
				<500>,
				// hdmi@fead0000
				<421>,
				// display@feb00000
				<288>, <300>, <301>,
				// thermal@e6198000
				<99>, <100>, <101>,
				// i2c@e60b0000
				<205>,
				// dma-controller@ffc10000
				<480>, <481>, <482>, <483>, <484>, <485>, <486>, <487>, <488>,
				<489>, <490>, <491>, <492>, <493>, <494>, <495>, <496>,
				// serial@e6550000
				<187>;

			dt-passthrough =
				"/gsx_opp_table0",
				"/gsx_opp_table1",
				"/gsx_opp_table2",
				"/gsx_opp_table3",
				"/gsx_opp_table4",
				"/gsx_opp_table5",
				"/gsx_opp_table6",
				"/gsx_opp_table7",
				"/extal",
				"/extalr",
				"/audio_clk_a",
				"/audio_clk_b",
				"/audio_clk_c",
				"/can",
				"/scif",
				"/pcie_bus",
				"/soc",
				"/audio-clkout",
				"/avb-mch@ec5a0100",
				"/backlight",
				"/cvbs-in",
				"/hdmi-in",
				"/regulator0",
				"/regulator1",
				"/regulator2",
				"/sound",
				"/regulator-vbus0-usb2",
				"/regulator-vcc-sdhi0",
				"/regulator-vccq-sdhi0",
				"/regulator-vcc-sdhi3",
				"/regulator-vccq-sdhi3",
				"/hdmi0-out",
				"/hdmi1-out",
				"/vga",
				"/vga-encoder",
				"/lvds",
				"/x12",
				"/x21-clock",
				"/x22-clock",
				"/x23-clock",
				"/vspm_if",
				"/usb3s0",
				"/usb_extal",
				"/reserved-memory",
				"/mmngr",
				"/mmngrbuf",
				"/__symbols__";

			dtdevs =
				"/soc/ethernet@e6800000",
				"/soc/dma-controller@e6700000",
				"/soc/dma-controller@e7300000",
				"/soc/dma-controller@e7310000",
				"/soc/dma-controller@ec700000",
				"/soc/dma-controller@ec720000",
				"/soc/dma-controller@e65a0000",
				"/soc/dma-controller@e65b0000",
				"/soc/usb@ee000000",
				"/soc/usb@ee080000",
				"/soc/usb@ee080100",
				"/soc/usb@ee0a0000",
				"/soc/usb@ee0a0100",
				"/soc/mmc@ee100000",
				"/soc/mmc@ee140000",
				"/soc/mmc@ee160000",
				"/soc/fdpm@fe940000",
				"/soc/vspm@fe960000",
				"/soc/vspm@fe9a0000",
				"/soc/fcp@fea27000",
				"/soc/fcp@fea2f000",
				"/soc/fcp@fea37000",
				"/soc/hdmi@fead0000",
				"/soc/vcp4@fe90f000",
				"/soc/gsx_pv0_domd",
				"/soc/gsx_pv1_domd",
				"/soc/pcie@fe000000",
				"/soc/pcie@ee800000",
				"/soc/dma-controller@ffc10000",
				"/soc/video@e6ef0000",
				"/soc/video@e6ef1000",
				"/soc/video@e6ef2000",
				"/soc/video@e6ef3000",
				"/soc/video@e6ef4000",
				"/soc/video@e6ef5000",
				"/soc/video@e6ef6000",
				"/soc/video@e6ef7000";

			iomems =
				// re-mapped MM_LOSSY_SHARED_MEM_ADDR page
				<&iomem 0x47fd7 0x1 0xe0000>,

				// 1:1 mapped lossy_decompress region
				<&iomem 0x54000 0x3000 0x0>,
				// watchdog@e6020000
				<&iomem 0xe6020 0x1 0x0>,
				// gpio@e6050000
				<&iomem 0xe6050 0x1 0x0>,
				// gpio@e6051000
				<&iomem 0xe6051 0x1 0x0>,
				// gpio@e6052000
				<&iomem 0xe6052 0x1 0x0>,
				// gpio@e6053000
				<&iomem 0xe6053 0x1 0x0>,
				// gpio@e6054000
				<&iomem 0xe6054 0x1 0x0>,
				// gpio@e6055000
				// gpio@e6055400
				// gpio@e6055800
				<&iomem 0xe6055 0x1 0x0>,
				// mfis@e6260000
				<&iomem 0xe6260 0x1 0x0>,
				// pin-controller@e6060000
				<&iomem 0xe6060 0x1 0x0>,
				// clock-controller@e6150000
				<&iomem 0xe6150 0x1 0x0>,
				// reset-controller@e6160000
				<&iomem 0xe6160 0x1 0x0>,
				// chipid@fff00044
				<&iomem 0xfff00 0x1 0x0>,
				// system-controller@e6180000
				<&iomem 0xe6180 0x1 0x0>,
				// interrupt-controller@e61c0000
				<&iomem 0xe61c0 0x1 0x0>,
				// pwm@e6e31000
				<&iomem 0xe6e31 0x1 0x0>,
				// pwm@e6e32000
				<&iomem 0xe6e32 0x1 0x0>,
				// i2c@e6510000
				<&iomem 0xe6510 0x1 0x0>,
				// i2c@e66d8000
				<&iomem 0xe66d8 0x1 0x0>,
				// usb-phy@e65ee000
				<&iomem 0xe65ee 0x1 0x0>,
				// crypto@e6601000
				<&iomem 0xe6601 0x1 0x0>,
				// ethernet@e6800000
				<&iomem 0xe6800 0x1 0x0>,
				// ethernet@e6800000
				<&iomem 0xe6a00 0x10 0x0>,
				// serial@e6e68000
				<&iomem 0xe6e68 0x1 0x0>,
				// csi2@fea80000
				<&iomem 0xfea80 0x10 0x0>,
				// csi2@feaa0000
				<&iomem 0xfeaa0 0x10 0x0>,
				// video@e6ef0000
				<&iomem 0xe6ef0 0x1 0x0>,
				// video@e6ef1000
				<&iomem 0xe6ef1 0x1 0x0>,
				// video@e6ef2000
				<&iomem 0xe6ef2 0x1 0x0>,
				// video@e6ef3000
				<&iomem 0xe6ef3 0x1 0x0>,
				// video@e6ef4000
				<&iomem 0xe6ef4 0x1 0x0>,
				// video@e6ef5000
				<&iomem 0xe6ef5 0x1 0x0>,
				// video@e6ef6000
				<&iomem 0xe6ef6 0x1 0x0>,
				// video@e6ef7000
				<&iomem 0xe6ef7 0x1 0x0>,
				// dma-controller@e6700000
				<&iomem 0xe6700 0x10 0x0>,
				// dma-controller@e7300000
				<&iomem 0xe7300 0x10 0x0>,
				// dma-controller@e7310000
				<&iomem 0xe7310 0x10 0x0>,
				// dma-controller@ec700000
				<&iomem 0xec700 0x10 0x0>,
				// dma-controller@ec720000
				<&iomem 0xec720 0x10 0x0>,
				// dma-controller@e65a0000
				<&iomem 0xe65a0 0x1 0x0>,
				// dma-controller@e65b0000
				<&iomem 0xe65b0 0x1 0x0>,
				// usb@e6590000
				<&iomem 0xe6590 0x1 0x0>,
				// usb@ee000000
				<&iomem 0xee000 0x1 0x0>,
				// usb@ee020000
				<&iomem 0xee020 0x1 0x0>,
				// usb@ee080000
				// usb@ee080100
				// usb-phy@ee080200
				<&iomem 0xee080 0x1 0x0>,
				// usb@ee0a0000
				// usb@ee0a0100
				// usb-phy@ee0a0200
				<&iomem 0xee0a0 0x1 0x0>,
				// mmc@ee100000
				<&iomem 0xee100 0x2 0x0>,
				// mmc@ee140000
				<&iomem 0xee140 0x2 0x0>,
				// mmc@ee160000
				<&iomem 0xee160 0x2 0x0>,
				// sound@ec500000
				<&iomem 0xec500 0x1 0x0>,
				// sound@ec500000
				// avb-mch@ec5a0100
				<&iomem 0xec5a0 0x1 0x0>,
				// sound@ec500000
				<&iomem 0xec540 0x1 0x0>,
				// sound@ec500000
				<&iomem 0xec541 0x1 0x0>,
				// sound@ec500000
				<&iomem 0xec760 0x1 0x0>,
				// sound@ec500000
				<&iomem 0xec000 0x1 0x0>,
				// sound@ec500000
				<&iomem 0xec008 0x1 0x0>,
				// pcie@fe000000
				<&iomem 0xfe000 0x80 0x0>,
				// pcie@ee800000
				<&iomem 0xee800 0x80 0x0>,
				// qos@e67e0000
				<&iomem 0xe67e0 0x11 0x0>,
				// gsx@fd000000
				<&iomem 0xfd000 0x40 0x0>,
				// vcp4@fe910000
				// vcp4@fe910000
				<&iomem 0xfe910 0x1 0x0>,
				// vcp4@fe900000
				// vcp4@fe900000
				<&iomem 0xfe900 0x1 0x0>,
				// vcp4@fe8d0000
				// vcp4@fe8d0000
				<&iomem 0xfe8d0 0x1 0x0>,
				// vcp4@fe90f000
				<&iomem 0xfe90f 0x1 0x0>,
				// fdpm@fe940000
				<&iomem 0xfe940 0x3 0x0>,
				// fdpm@fe940000
				<&iomem 0xfe950 0x1 0x0>,
				// vsp@fe960000
				// vspm@fe960000
				<&iomem 0xfe960 0x8 0x0>,
				// vspm@fe960000
				<&iomem 0xfe96f 0x1 0x0>,
				// vsp@fe9a0000
				// vspm@fe9a0000
				<&iomem 0xfe9a0 0x8 0x0>,
				// vspm@fe9a0000
				<&iomem 0xfe9af 0x1 0x0>,
				// vsp@fea20000
				<&iomem 0xfea20 0x5 0x0>,
				// fcp@fea27000
				<&iomem 0xfea27 0x1 0x0>,
				// vsp@fea28000
				<&iomem 0xfea28 0x5 0x0>,
				// fcp@fea2f000
				<&iomem 0xfea2f 0x1 0x0>,
				// vsp@fea30000
				<&iomem 0xfea30 0x5 0x0>,
				// fcp@fea37000
				<&iomem 0xfea37 0x1 0x0>,
				// hdmi@fead0000
				<&iomem 0xfead0 0x10 0x0>,
				// display@feb00000
				<&iomem 0xfeb00 0x70 0x0>,
				// lvds@feb90000
				<&iomem 0xfeb90 0x1 0x0>,
				// thermal@e6198000
				<&iomem 0xe6198 0x1 0x0>,
				// thermal@e6198000
				<&iomem 0xe61a0 0x1 0x0>,
				// thermal@e6198000
				<&iomem 0xe61a8 0x1 0x0>,
				// i2c@e60b0000
				<&iomem 0xe60b0 0x1 0x0>,
				// avs@e60a013c
				<&iomem 0xe60a0 0x1 0x0>,
				// dma-controller@ffc10000
				<&iomem 0xffc10 0x10 0x0>,
				// serial@e6550000
				<&iomem 0xe6550 0x1 0x0>;
		};
	};
};
